<div>
    <div class="desktop-menu">
        <a href="#/"><img src="assets/images/logo.png" class="home-link" alt="AWC Logo"/></a>
        <nav class="default-nav">
            <ul>
                <li ng-class="{'active':activeMenu == 'event'}"><a href="#/events"><h5>events</h5></a></li>
                <li ng-class="{'active':activeMenu == 'schedule'}"><a href="#/schedules"><h5>speakers & schedule</h5></a></li>
                <li ng-class="{'active':activeMenu == 'ticket'}"><a href="#/tickets"><h5>buy tickets</h5></a></li>
                <li ng-class="{'active':activeMenu == 'market'}"><a href="#/markets"><h5>buy market table</h5></a></li>
                <li ng-class="{'active':activeMenu == 'location'}"><a href="#/locations"><h5>the details</h5></a></li>
            </ul>
        </nav>
        <div class="language-list" ng-class="{'open':openTranslations}">
            <ul ng-if="!openTranslations">
                <li title="{{language.key}}"
                    ng-if="language.active"
                    ng-click="changeLanguage(language.key)"
                    ng-repeat="language in translationMap">
                    <img ng-src="{{language.flagUrl}}" alt="{{language.altText}}"/>
                </li>
            </ul>
            <ul ng-if="openTranslations">
                <li title="{{language.key}}"
                    ng-click="changeLanguage(language.key)"
                    ng-repeat="language in translationMap">
                    <img ng-src="{{language.flagUrl}}" alt="{{language.altText}}"/>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="mobile-menu">
        <span class="navigation" ng-click="showMobileMenu = true"><i class="fa fa-navicon"></i></span>

        <div ng-class="{'show':showMobileMenu == true}" class="menu-overlay">
            <i ng-click="showMobileMenu = false" class="fa fa-close"></i>
            <div class="mobile-nav-list">
                <a href="#/"><img src="assets/images/logo.png" alt="Logo"/></a>
                <ul>
                    <li><a href="#/events">Events</a></li>
                    <li><a href="#/schedules">Schedule & speakers</a></li>
                    <li><a href="#/tickets">buy tickets</a></li>
                    <li><a href="#/markets">buy market table</a></li>
                    <li><a href="#/locations">the details</a></li>
                </ul>
                <h3>find us online</h3>
                <a href="#"><i class="fa fa-facebook-official"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div> 
    


