.video-thumbnails{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #eee;
    padding: 20px;
    width: 255px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.video-thumbnails h2{
    position: relative;
    font-size: 25px;
    
}

.video-thumbnails img{
    position: relative;
    height: 170px;
}

.video-player{
    position: relative;
    text-align:center;
}

.video-player video{
    position: relative;
    height: 400px;
}