html {
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    font-weight: 400;
    background: #333 url("../images/content-bg.jpg") center no-repeat; 
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover; 
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    border: none;
    color: #242433;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: #242433;
}

.clear {
    clear: both;
    display: block;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 200;
}
    @media screen and (max-width:380px){
    h1{
        font-size: 2rem;
        line-height: 2.5rem;
        }
    }
h2 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 300;
    color: #fff;
}
    @media screen and (max-width:380px){
    h2{
        font-size: 1.3rem;
        line-height: 1.8rem;
        }
    }
h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
}
h4 {
    font-size: 0.875rem;
    line-height: 0.875rem;
    letter-spacing: 0.300em;
    font-weight: 400;
    text-transform: uppercase;
}

h5 {
    font-size: 1.125rem;
    line-height: 1.625rem;
    font-weight: 400;
    color: #6b6b6b;
}

p {
    font-size: 1.125rem;
    line-height: 1.625rem;
    font-weight: 400;
    color:#fff;
}

p.bold {
    font-weight: 500;
}

.wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

header {
    width: 50%;
    background: rgba(0, 0, 0, 0.3);
    height: 100vh;
    float: left;
    position: relative;
}
    @media screen and (max-width:1023px){
    header{
        width: 100%;
        height: auto;
        float: none;
        padding: 80px 0;
        position: relative;
        }
    }

.title{
    text-align:center;
    position: absolute;
    top:50%;
    left:50%;
    -transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}
    @media screen and (max-width:1023px){
    .title{
        position: static;
        top:0;
        left:0;
        -transform:none;
        -webkit-transform:none;
        -moz-transform:none;
        -o-transform:none;
        -ms-transform:none;
        }
    }
.title img{
    display: block;
    width: 250px;
    margin:auto;
}
.title h1{
    margin: 20px 0 0 0;
}
.content{
    position: relative;
    width: 50%;
    height:100vh;
    float:left;
}
    @media screen and (max-width:1023px){
    .content{
        position: relative;
        width: 100%;
        height: 700px;
        float: none;
        overflow: hidden;
        padding: 0 0 50px 0;
        }
    }
/* first step */
.first-step{
    text-align: center;
    position: absolute;
    width: 100%;
    top:50%;
    left:50%;
    -transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}
    @media screen and (max-width:1023px){
    .first-step{
        top:30%;
        left:50%;
        -transform:translate(-50%,-30%);
        -webkit-transform:translate(-50%,-30%);
        -moz-transform:translate(-50%,-30%);
        -o-transform:translate(-50%,-30%);
        -ms-transform:translate(-50%,-30%);
        }
    }

.numbering{
    display: block;
    height: 71px;
    width: 71px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 50%;
    margin:auto;
    text-align: center;
}
.numbering p{
    line-height: 71px;
    font-weight: 200;
}
.content h2{
    margin:35px 20px 75px 20px;
}
    @media screen and (max-width:1023px){
    .content h2{
        margin:35px 20px 45px 20px;
        }
    }
a.facebook{
    width: 280px;
    height: 64px;
    display: block;
    margin: 0 auto 20px; 
    color: #fff;
    font-size: 1.125rem;
    line-height: 64px;
    font-weight: 300;
    background: #537bbd;
}
.first-step a{
    text-align: left; 
}
a.twitter{
    background: #78cdf0;
}
a.messenger{
    background: #0084ff;
}
a.skip-step{
    display: inline-block;
    margin: 20px 0 0 0;
    text-decoration: underline;
    color: #ccc;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -ms-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}
a.skip-step p{
    text-align: center;
    color: #939696;
    font-weight: 500;
}
.social-media-child{
    width: 500px;
    margin: auto;
}
    @media screen and (max-width:568px){
    .social-media-child{
        width: 100%;
        }
    }

.social-media-child a{
    display: inline-block;
    margin: 0 8px 20px;
    width: 220px;
    height: 40px;
    line-height: 40px;
    font-size: 0.900rem;
    color: #fff;
}
    @media screen and (max-width:568px){
    .social-media-child a{
        display: block;
        width: 280px;
        margin: 0 auto 20px;
        }
    }

.fb-icon{
    background: url(../images/facebook.png) center no-repeat;
    background-size: contain;
    width: 41px;
    height: 41px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 15px;
}
.tw-icon{
    background: url(../images/twitter.png) center no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 25px 0 15px;
}
    @media screen and (max-width:568px){
    .tw-icon{
        margin: 0 40px 0 25px;
        }
    }
.me-icon{
    background: url(../images/messenger.png) center no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 15px;
}
    @media screen and (max-width:568px){
    .me-icon{
        margin: 0 25px 0 25px;
        }
    }
.btn-next{
    width: 280px;
    height: 43px;
    border: none;
    font-family: 'proxima-nova', sans-serif;
    font-size: 1.125rem;
    line-height: 43px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    background: #7edc3a;
    margin:40px auto 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -ms-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}
.disabled{
    color: #e5e5e5;
    background: #fff;
}
.page-slider{
    width: 100px;
    text-align: center;
    position: absolute;
    bottom:70px;
    left:50%;
    -transform:translate(-50%,0);
    -webkit-transform:translate(-50%,0);
    -moz-transform:translate(-50%,0);
    -o-transform:translate(-50%,0);
    -ms-transform:translate(-50%,0);
}
.circle{
    width: 14px;
    height: 14px;
    background: #3a4547;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
}
span.active{
    background: #fff;
}

/* second step */
.second-step{
    opacity: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    top:50%;
    left:50%;
    -transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}
    @media screen and (max-width:1023px){
    .second-step{
        top:30%;
        left:50%;
        -transform:translate(-50%,-30%);
        -webkit-transform:translate(-50%,-30%);
        -moz-transform:translate(-50%,-30%);
        -o-transform:translate(-50%,-30%);
        -ms-transform:translate(-50%,-30%);
        }
    }
    @media screen and (max-width:420px){
    .second-step{
        padding: 0 20px;
        }
    }
.congrats-page{
    text-align: center;
    position: absolute;
    width: 100%;
    top:50%;
    left:50%;
    -transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    opacity: 0;
}
    @media screen and (max-width:420px){
    .congrats-page{
        top:30%;
        left:50%;
        -transform:translate(-50%,-30%);
        -webkit-transform:translate(-50%,-30%);
        -moz-transform:translate(-50%,-30%);
        -o-transform:translate(-50%,-30%);
        -ms-transform:translate(-50%,-30%);
        }
    }
.textfield{
    width: 400px;
    height: 64px;
    line-height: 64px;
    color: #777;
    font-family: 'proxima-nova', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0 auto 20px;
    text-align: center;
    display: block;
    border: none;
}
    @media screen and (max-width:420px){
    .textfield{
        width: 100%;
        }
    }
.submit{
    width: 400px;
    height: 64px;
    line-height: 64px;
    color: #fff;
    background: #7edc3a;
    margin: auto;
    text-align: center;
    font-family: 'proxima-nova', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    border: none;
    cursor: pointer;
    display: block;
}
    @media screen and (max-width:420px){
    .submit{
        width: 100%;
        }
    }
.second-step p.step-2, .congrats-page p.step-2{
    width: 70%;
    margin: 75px auto 0;
}
    @media screen and (max-width:1023px){
    .second-step p.step-2, .congrats-page p.step-2{
        margin: 40px auto 0;
        }
    }
.second-step a{
    width: 400px;
    height: 64px;
    line-height: 64px;
    color: #fff;
    background: #7edc3a;
    margin: 60px auto 0;
    text-align: center;
    font-family: 'proxima-nova', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    border: none;
    cursor: pointer;
    display: block;
}