html {
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #242433;
    font-weight: 400;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    border: none;
    color: #242433;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: #242433;
}

.clear {
    clear: both;
    display: block;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
}
h2 {
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: -0.025em;
    font-weight: 300;
}
h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
}
h4 {
    font-size: 0.875rem;
    line-height: 0.875rem;
    letter-spacing: 0.300em;
    font-weight: 400;
    text-transform: uppercase;
}

h5 {
    font-size: 0.75rem;
    line-height: 0.75rem;
    letter-spacing: 0.200em;
    font-weight: 500;
    text-transform: uppercase;
}

p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
}

p.bold {
    font-weight: 500;
}


/* header */
header {
    width: 100%;
    background: #333 url("../images/header-bg.jpg") center no-repeat;
    padding: 120px 0 10px 0;
}
    @media screen and (min-width: 1500px) {
        header {
            background-size: cover;
        }
    }

