<section class="event-content">
    <nav-menu active-menu="event"></nav-menu>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 center-block">
                <div class="title">
                    <h1>events <span>&</span> meetups</h1>
                    <p>The breakdown of the events at Affiliate World Asia.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-content">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-6 col-md-push-6">
                <div class="content-right event event-bg event-bg-1">
                    <div class="event-sponsor">
                        <div class="event-sponsor-detail">
                            <h4>Sponsored by</h4>
                            <div class="row">
                            <div class="col-sm-12">
                            <a href="http://www.mobvista.com/" target="_blank">
                            <img src="assets/images/sponsors/diamond/mobvista-white.png" alt="" />
                            </a>
                            </div></div>
                            <div class="row">
                            <div class="col-sm-4">
                            <a href="http://www.clickdealer.com/" target="_blank">
                            <img src="assets/images/sponsors/platinum/clickdealer-white.png" alt="" />
                            </a>
                            </div>
                            <div class="col-sm-4">
                            <a href="http://www.go2mobi.com/" target="_blank">
                            <img src="assets/images/sponsors/platinum/go2mobi-white.png" alt="" />
                            </div>
                            </a>
                            <div class="col-sm-4">
                            <a href="http://www.iballers.com/" target="_blank">
                            <img src="assets/images/sponsors/platinum/iballers-white.png" alt="" />
                            </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <div class="content-left details">
                    <div class="event-button">
                        <a href="#/schedules" class="primary light"><i class="fa fa-calendar"></i>view the schedule</a>
                    </div>
                    <div class="event-details">
                        <h2>panels & speeches</h2>
                        <h5>Day one & two</h5>
                        <p>Our speaking line up of industry thought leaders and groundbreakers will be sharing their insights and discussing where the next big campaigns will be.</p>
                        <p>They’ll be sharing their success stories, teaching you how to create, optimise and scale your campaigns. You’ll leave inspired about new ad formats, traffic sources, campaign ideas, outsourcing concepts and how to scale your affiliate business to a level where it can sell.</p>
                        <a href="#/schedules" class="primary light event-btn-mobile"><i class="fa fa-calendar"></i>view the schedule</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="content-left event event-bg event-bg-2">
                    <div class="event-sponsor">
                        <div class="event-sponsor-detail">
                            <h4>Sponsored by</h4>
                            <div class="col-sm-4">
                            <a href="http://www.clickdealer.com/" target="_blank">
                            <img src="assets/images/sponsors/platinum/clickdealer-white.png" alt="" />
                            </a>
                            </div>
                            <div class="col-sm-4">
                            <a href="http://www.go2mobi.com/" target="_blank">
                            <img src="assets/images/sponsors/platinum/go2mobi-white.png" alt="" />
                            </a>
                            </div>
                            <div class="col-sm-4">
                            <a href="http://www.iballers.com/" target="_blank">
                            <img src="assets/images/sponsors/platinum/iballers-white.png" alt="" />
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-right details">
                    <div class="event-button">
                        <a href="#/schedules" class="primary light"><i class="fa fa-calendar"></i>view the schedule</a>
                    </div>
                    <div class="event-details">
                        <h2>traffic source meetups</h2>
                        <h5>night one & two</h5>
                        <p>Make new business connections at our traffic-focused networking events. Unique to Affiliate World Conferences, we are hosting meetups categorised by traffic source for you to choose based on your specialty.</p>
                        <p>Bringing together the experts in each traffic source and niche, you’ll make new connections and uncover new business opportunities:</p>
                        <h4>FACEBOOK & SOCIAL</h4>
                        <h4>MOBILE</h4>
                        <h4>DATING</h4>
                        <h4>MIXED TRAFFIC
                        <span class="event-details-subnote">(DISPLAY, PPV, SEO, EMAIL & SEARCH)</span>
                        </h4>
                        <a href="#/schedules" class="primary light event-btn-mobile"><i class="fa fa-calendar"></i>view the schedule</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-push-6">
                <div class="content-right event event-bg event-bg-3">
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <div class="content-left details">
                    <div class="event-button">
                        <a href="#/schedules/3" class="primary light"><i class="fa fa-calendar"></i>view the schedule</a>
                    </div>
                    <div class="event-details">
                        <h2>training workshop</h2>
                        <h5>day three - wednesday</h5>
                        <p>Affiliate marketing newbie? Confused and overwhelmed?  Attend our intensive training workshop, AMC.live. Learn from three expert affiliate marketers how to set up, launch and optimize your campaigns.</p>
                        <p>You’ll come away an expert in running affiliate marketing campaigns, the mindset and processes involved, and the perspectives from other parties that are critical to long-term success.</p>
                        <a href="#/schedules/3" class="primary light event-btn-mobile"><i class="fa fa-calendar"></i>view the schedule</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="content-left event event-bg event-bg-4">
                    <div class="event-sponsor">
                        <div class="event-sponsor-detail">
                            <h4>Sponsored by</h4>
                            <div class="row">
                            <div class="col-sm-12">
                            <a href="http://www.mobvista.com/" target="_blank">
                            <img src="assets/images/sponsors/diamond/mobvista-white.png" alt="" />
                            </a>
                            </div></div>
                            <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                            <a href="http://avazuinc.com/home/" target="_blank">
                            <img src="assets/images/sponsors/gold/avazu-white.png" alt="" />
                            </a>
                            </div>
                            <div class="col-sm-3">
                            <a href="http://www.mpirenetwork.com/" target="_blank">
                            <img src="assets/images/sponsors/gold/mpire-white2.png" alt="" />
                            </a>
                            </div>
                            <div class="col-sm-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-right details">
                    <div class="event-button">
                        <a href="#/schedules" class="primary light"><i class="fa fa-calendar"></i>view the schedule</a>
                    </div>
                    <div class="event-details">
                        <h2>market</h2>
                        <h5>day one - monday</h5>
                        <p>Hustle up new business and make deals at the largest affiliate exposition in Asia. With more than 100 companies from all corners of the globe, you’ll find more business opportunities in one day than would be possible over months.</p>
                        <p>Held on the 23rd floor with stunning views looking out over Bangkok, the market also makes a great spot to take a break, marvel at the city and socialise with the best affiliates in the industry.</p>
                        <a href="#/schedules" class="primary light event-btn-mobile"><i class="fa fa-calendar"></i>view the schedule</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-push-6">
                <div class="content-right event event-bg event-bg-5">
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <div class="content-left details">
                    <div class="event-button">
                        <a href="#/schedules/3" class="primary light"><i class="fa fa-calendar"></i>view the schedule</a>
                    </div>
                    <div class="event-details">
                        <h2>the afterparty</h2>
                        <h5>night three</h5>
                        <p>Celebrate our two inspiring days in Bangkok with the party to end all parties. We are designing an immersive night to transport you to a magic world surrounded by performers, provocateurs and endless surprises. This will be a spectacular event like nothing you've seen before.</p>
                        <p>We have surprises to reveal about this from September but we promise it will be worth the wait.</p>
                        <a href="#/schedules/3" class="primary light event-btn-mobile"><i class="fa fa-calendar"></i>view the schedule</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ticket">
    <div class="container">
        <div class="row">
            <div class="col-md-6 center-block">
                <div class="ticket-details">
                    <h1>buy tickets</h1>
                    <p>Early bird prices available for a limited time.</p>
                    <a href="#/tickets" class="primary light"><i class="fa fa-ticket"></i>Buy Tickets</a>
                </div>
            </div>
        </div>
    </div>
</section>