<lang-menu class="home-lang"></lang-menu>
<header>
    <div class="title">
        <img src="assets/images/logo.png" alt="logo" />
        <h1 class="main-title">affiliate world asia</h1>
        <h4>global affiliate conferences</h4>
    </div>
</header>

<nav class="home-nav">
    <ul>
        <li><a href="#/events"><h4>Events</h4></a></li>
        <li><a href="#/schedules"><h4>Schedule & speakers</h4></a></li>
        <li><a href="#/tickets"><h4>buy tickets</h4></a></li>
        <li><a href="#/markets"><h4>buy market table</h4></a></li>
        <li><a href="#/locations"><h4>the details</h4></a></li>
    </ul>
</nav>
<div class="mobile-menu">
    <span class="navigation" ng-click="showMobileMenu = true"><i class="fa fa-navicon"></i></span>
    <div ng-class="{'show':showMobileMenu == true}" class="menu-overlay">
        <i ng-click="showMobileMenu = false" class="fa fa-close"></i>
        <div class="mobile-nav-list">
            <a href="#/"><img src="assets/images/logo.png" alt="Logo"/></a>
            <ul>
                <li><a href="#/events">Events</a></li>
                <li><a href="#/schedules">Schedule & speakers</a></li>
                <li><a href="#/tickets">buy tickets</a></li>
                <li><a href="#/markets">buy market table</a></li>
                <li><a href="#/locations">the details</a></li>
            </ul>
            <h3>find us online</h3>
            <a href="#"><i class="fa fa-facebook-official"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
</div>

<section class="slogan">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center-block">
                <div class="schedule">
                    <span class="schedule-title schedule-margin"><i class="fa fa-map-marker"></i><h3>Bankok, Thailand</h3></span>
                    <span class="schedule-title"><i class="fa fa-calendar"></i><h3>7 - 9 December</h3></span>
                </div>
                <h2>{{'TITLE' | translate}}</h2>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="slogan-details">
                    <!-- <button ng-click="changeLanguage('english');">english</button>
                    <button ng-click="changeLanguage('chinese');">chinese</button> -->
                    <p class="bold">What's this all about?</p>
                    <p>Affiliate World Asia is the meeting point of the affiliate industry elite connecting the industry's most successful marketers, biggest advertising and affiliate networks, and inspiring thought leaders together in one place over two days.</p>
                    <p>This is the first time an event of this scale will connect affiliate leaders of China and around Asia with the leaders of the rest of the world.</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="slogan-details">
                    <p class="bold">Why me?</p>
                    <p>The two­-day conference features panels and speeches from industry superstars, traffic-focused networking meetups, a training workshop for affiliate newbies, and a day-long market to find new business connections with more than 100 companies.
                    </p>
                    <p>AWA is the most exciting new event to happen to the affiliate industry. We'll be celebrating it on the third day with a unique and extravagant bash.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="slogan-button">
                    <a href="#/tickets?go=buy" class="primary light slogan-margin"><i class="fa fa-ticket"></i>Buy Tickets</a>
                    <a href="http://stackthatmoney.com/sponsors/#/awa/packages" target="_blank" class="primary light"><i class="fa fa-trophy"></i>Buy Sponsorship</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sponsor">
    <h2>affiliate world is sponsored by</h2>
    <div class="container">
        <div class="row diamond-sponsors">
            <div class="col-sm-12">
                <img src="assets/images/sponsors/diamond/mobvista.png" alt="" />
            </div>
            </div>
        <div class="row platinum-sponsors">
            <div class="col-sm-4">
                <img src="assets/images/sponsors/platinum/clickdealer.png" alt="" />
            </div>
            <div class="col-sm-4">
                <img src="assets/images/sponsors/platinum/go2mobi.png" alt="" />
            </div>
            <div class="col-sm-4">
                <img src="assets/images/sponsors/platinum/iballers.png" alt="" />
            </div>
        </div>
        <div class="row gold-sponsors">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
                <img src="assets/images/sponsors/gold/avazu.png" alt="" />
            </div>
            <div class="col-sm-3">
                <img src="assets/images/sponsors/gold/mpire.png" alt="" />
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>
</section>

<section class="ticket">
    <div class="container">
        <div class="row">
            <div class="col-md-6 center-block">
                <div class="ticket-details">
                    <h1>buy tickets</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel sodales velit. Nullam sodales mi euismod enim congue gravida.</p>
                    <a href="#/tickets" class="primary light"><i class="fa fa-ticket"></i>Buy Tickets</a>
                </div>
            </div>
        </div>
    </div>
</section>