<section class="location-header">
    <nav-menu active-menu="location"></nav-menu>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 center-block">
                <div class="title">
                    <h1>location <span>&</span> details</h1>
                    <p>All the finer details and small print about Affiliate World Asia.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="location-content">
    <h1>getting to the conference centre</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="location-left">
                    <h3>Where it is located</h3>
                    <p>Affiliate World Asia takes place from 7-9 December 2015 at the Centara Grand and Bangkok Convention Centre at CentralWorld in Bangkok, Thailand. A small number of events will take place at locations off site which are yet to be confirmed. This information will be updated as soon as it is available.</p>
                    <h3>The best way to get there</h3>
                    <h4>Information</h4>
                    <p class="location-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>
                    <h4>By train</h4>
                    <p class="location-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>
                    <h4>By taxi</h4>
                    <p class="location-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>
                    <h4>By car</h4>
                    <p class="location-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="location-right location-map">
                    <div id="googleMap" class="address-map"></div>
                    <h2>Centara Grand & Bangkok Convention Centre at CentralWorld</h2>
                    <h5>Level 22, 999/99 Rama 1 Road, Pathumwan, Bangkok 10330, Thailand</h5>
                    <a href="https://www.google.com/maps/place/Central+World+Plaza/@13.7459559,100.539369,17z/data=!4m2!3m1!1s0x0000000000000000:0xc7617c219266e57d" target="_blank"><i class="fa fa-map-marker"></i><h4>View on the map</h4></a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="location-content location-content-2">
    <h1>general information</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="location-left">
                    <h3>Registration</h3>
                    <p>You will need to collect your registration pass to be admitted to all Affiliate World Asia events. The registration desk will be open from Sunday, 6 December (time TBC) at the 6th floor of the Centara Grand.</p>
                    <h3>Press</h3>
                    <p>For all press related inquiries, please contact us at <a href="mailto:info@affiliateworldconferences.com">Affiliate World Conferences.</a></p>
                    <h3>Sponsorship Opportunities</h3>
                    <p>Sponsorship opportunities are available on a first come, first served basis. Visit our <a href="http://stackthatmoney.com/sponsors/#/awa" target="_blank">sponsorship portal</a> for more information.</p> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="location-right">
                    <h3>Attending Events</h3>
                    <h4>Info</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>
                    <h4>Sun Shines</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>
                    <h4>Official Afterparty</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>                     
                </div>
            </div>
        </div>
    </div>
</div>

<div class="location-content location-content-3">
    <h1>accommodation and visitor information</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="location-left">
                    <h3>Accommodation</h3>
                    <p>For your convenience, discounted rates have been negotiated at the <a href="http://www.centarahotelsresorts.com/centaragrand/cgcw/index.asp" target="_blank">Centara Grand hotel</a>, the convention centre’s hotel.  Share our Facebook message and we will send you the link to access the discount code.</p>
                    <h3>Airports</h3>
                    <p>Bangkok has two international airports which are both approximately 25 km from the Centara Grand Convention Centre, Suvarnabhumi International Airport (BKK) and Don Mueang International Airport (DMK).</p>
                    <h3>Public Transport</h3>
                    <p>For all press related inquiries, please contact us at <a href="mailto:info@affiliateworldconferences.com">Affiliate World Conferences.</a></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="location-right">
                    <h3>International Attendees</h3>
                    <p>We recommend that you check with your local government for information on required documents and arrangements you’ll need for travel to Thailand. We are unable to provide advice on your personal requirements. If you need a letter to accompany a visa application to confirm your attendance to Affiliate World Asia, you can <a href="mailto:tickets@affiliateworldconferences.com">contact us.</a>
                    </p>

                    <h3>Bangkok Visitor Information</h3>
                    <p>Visit the <a href="http://www.bangkoktourist.com/site/en/" target="_blank">Bangkok Tourism Division website</a> to learn about the sights, shops, restaurants, and Thai culture you can discover while you are in the city.</p> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="location-content location-content-4 terms">
    <h1>attendance terms and conditions</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="location-left terms-list">
                    <h3>Ticket Payments and Delivery</h3>
                    <p>In consideration of the Ticket price (as applicable and as advertised on our website), we shall grant the Purchaser a Ticket to the Conference, subject to these Terms and Conditions. Purchase of a Ticket and/or entry to the Conference shall be deemed to be acceptance of these Terms and Conditions.</p>
                    <p>We reserve the right to refuse entry to any Attendee who cannot produce evidence of a valid, fully-paid Ticket.</p>
                    <p>All Tickets must be paid for in full prior to entry to the Conference.</p>
                    <p>Following payment, Tickets shall be delivered in electronic soft-copy via email to the email address and bearing the Attendee’s name as nominated by the Purchaser. The Ticket acts as a receipt for the transaction and can be used to redeem entry at the Conference. A printed hard-copy Ticket or an electronic soft-copy Ticket detailing the reference number can be used to register at the Conference.</p>
                    <p>The Ticket must be used by the individual named on the Ticket. Attendees must produce valid identification on request.</p>
                    <br/>
                    <h3>Conduct at the Conference</h3>
                    <p>Attendees entering the Conference with an Affiliate Ticket may not promote, advertise or represent any company or entity active in the affiliate marketing industry, including but not limited to by wearing branded clothing.</p>
                    <p>Clause 2.1 shall also apply to Attendees entering the Conference with a Company Ticket only when attending a traffic-focussed networking event.</p>
                    <p>We may refuse entry to any Attendee who we believe, at our discretion, may have a detrimental effect on the success of the Conference, or the well-being of other Attendees.
                    <p>We may remove any Attendee from the Conference if we reasonably believe the Attendee is behaving inappropriately or has committed another form of misconduct or anti-social behaviour. In the event of such removal, no refunds of Ticket sales will be made.</p>
                    <p>No Attendee may host or promote any event purporting or holding itself out to be associated with the Conference during the days of the Conference, without our prior written approval.
                    <p>All Attendees shall comply with all relevant laws and regulations which may apply in relation to their attendance at the Conference and each Attendee will indemnify and keep indemnified and defend (at their own expense) us against all costs, claims, damages or expenses suffered or incurred by us or for which we may become liable due to any failure by that Attendee or your employees or agents to comply with these Terms and Conditions or any applicable laws and regulations.</p>
                    <br/>
                    <h3>Personal data</h3>
                    <p>By purchasing a Ticket and/or attending the Conference, all Purchaser and Attendees grant the Company permission to process and use their personal data (including all images, photographs and recordings obtained or taken during the Conference) for the purposes of Ticket sales, compiling attendance lists and/or promotional material. Such personal data may be published on the Company’s websites and across any relevant online portals, websites or platforms, and circulated by email, including to past and current attendees and sponsors. If you do not wish your personal data to be used in this way please email us (insert email link: info@affiliateworldconferences.com).</p>
                    <br/>
                    <h3>Miscellaneous</h3>
                    <p>No other terms shall apply to this Agreement and these terms contain the entire agreement and understanding between us in respect of all matters which are referred to herein and supersede any prior, written or oral agreement between us relating to such matters. Each Purchaser and Attendee confirms that in accepting these Terms and Conditions they have not relied on any representation that is not expressly included herein and agree that they shall have no remedy in respect of any misrepresentation which has not become a part of these terms.</p>
                    <p>If any part of these Terms and Conditions herein are deemed unlawful, void or for any reason unenforceable then that provision shall be deemed to be severable from these Terms and Conditions and shall not affect the validity and enforceability of any of the remaining provisions of the terms.</p> 
                    
      
                </div>
            </div>
            <div class="col-md-6">
                <div class="location-right terms-list">
                <h3>Transfers and Refunds</h3>
                    <p>Tickets are non-transferrable and shall only be refundable at our discretion.</p>
                    <p>Tickets may not be copied, reproduced or resold.</p>
                <br/>
                <h3>Cancellation and Alterations</h3>
                <p>We may need to cancel or alter the Conference schedule, venue and specifications based on factors beyond our control and/or for the safety of Attendees. In the event that such alteration is required, we shall use reasonable endeavours to allow the Conference to continue at an alternate venue or to an alternate schedule. However, if no viable alteration is possible, it may become necessary to cancel the Conference. In this event, we shall refund at our discretion all or a portion of the Ticket sales to Purchasers, provided that such monies can be recovered from our suppliers and less any processing fees already incurred by the Company.</p>
                <p>We may change or modify these Terms and Conditions from time to time with or without notice to Purchasers or Attendees. Updated Terms and Conditions will be published on our website.</p>
                <br/>
                <h3>Liability</h3>
                <p>All warranties, conditions and other terms implied by statute or common law are, to the fullest extent permitted by law, excluded from this Agreement.</p>
                <p>Attendees shall be responsible for any damage caused by them to the Venue, allocated space, property or the furnishings and equipment therein by any act, default or neglect of the Attendee and shall pay to us on an indemnity basis the amount required to make good or remedy any such damage.</p>
                <p>To the extent permitted by law, we shall not be liable for any special, indirect, consequential or pure economic loss including but not limited to personal injury, loss of profits, loss of business, depletion of goodwill and/or similar losses. Our total liability in contract, tort (including negligence or breach of statutory duty), misrepresentation, restitution or otherwise arising in connection with the performance or contemplated performance of these Terms and Conditions shall be limited to the value of the Conference Ticket sale only.</p>
                <p>We will not accept liability for loss or damage to any object, equipment, furniture, stock or any other property brought into the Venue by any Attendee. Cloakrooms are provided for the convenience of the Attendees and guests but any property deposited there is entirely at the Attendee's risk. We and our suppliers will endeavour to assist Attendees with storage of their equipment etc but we exclude liability for the loss or damage of those items or property.</p>
                <br/>
                <h3>Alcohol</h3>
                <p>No alcoholic drinks may be brought into the Venue by any Attendees for the consumption on the premises, unless the prior consent of the Company has been obtained and if any corkage fee (if required) has been paid.</p>
                <h3>Force Majeure</h3>
                <p>We shall not be in breach of these Terms and Conditions if we do not provide any services or the Conference due to the following circumstances:
                <ul>
                <li><p>Industrial action by the staff of one of our suppliers;</p></li>
                <li><p>Fire, lightning, explosion, riot, civil commotion, malicious damage, extreme weather conditions, storm, flood, burst pipes, earthquake, terrorism and the Venue being damaged or destroyed; or</p></li>
                <li><p>Breakdown of machinery, or any failure to supply the Venue with gas, electricity, water and so on, outside of our control.</p></li>
                </ul>
                <p>In the event of any such event described in clause 6.1, we will use reasonable endeavours to allow the Conference to continue, but may be required to cancel the Conference (as described above), particularly if the health and safety of Attendees may be at risk.</p>

                <strong>These Terms and Conditions shall be governed by the laws of Hong Kong.</strong>

               </div>
            </div>
        </div>
    </div>
</div>

<div class="location-content location-content-5">
    <h1>in case of emergencies</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="location-left medical">
                    <h3>Medical and Other Emergencies</h3>
                    <p>For emergency services, (Fire, Medical, Police), please dial the respective numbers from any internal phone or find any uniformed security guard.<br/>
                    <span><span style="color:#000">Fire:</span> 199</span>
                    <span><span style="color:#000">Medical:</span> 1669</span>
                    <span><span style="color:#000">Police:</span> 191</span>
                    </p>
                    <h3>Earthquakes</h3>
                    <p>Should an earthquake occur, remain calm and take cover under a stable object. Face away from glass, unstable objects, and tall structures. Remain where you are until the shaking stops and wait for further instructions from authorities. If directed to evacuate the building, walk to the nearest exit. Do not use the elevators and do not return to the building until authorities indicate that it is safe to do so.</p>
                    </div>
            </div>
            <div class="col-md-6">
                <div class="location-right">
                    <h3>Fire</h3>
                    <p>In case of fire, leave the building immediately by walking to the nearest safe exit. Leave all belongings. Do not use the elevators. Do not return to the building until authorities indicate that it is safe to do so.</p> 
                    <h3>Non-emergency Medical Assistance</h3>
                    <p>For general non-emergency medical assistance, please approach one of the Affiliate World Conferences uniformed staff members or the Information Desk located on the 22nd floor of the Centara Grand and Bangkok Convention Centre.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ticket">
    <div class="container">
        <div class="row">
            <div class="col-md-6 center-block">
                <div class="ticket-details">
                    <h1>buy tickets</h1>
                    <p>Early bird prices available for a limited time or until they sell out.</p>
                    <a href="#/tickets" class="primary light"><i class="fa fa-ticket"></i>Buy Tickets</a>
                </div>
            </div>
        </div>
    </div>
</section>