<section class="location-header">
    <nav-menu active-menu="location"></nav-menu>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 center-block">
                <div class="title">
                    <h1>location <span>&</span> details</h1>
                    <p>All the finer details and small print about Affiliate World Asia.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="location-content">
    <h1>getting to the conference centre</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="location-left">
                    <h3>Where it is located</h3>
                    <p>Affiliate World Asia takes place from 7-9 December 2015 at the Centara Grand and Bangkok Convention Centre at CentralWorld in Bangkok, Thailand. A small number of events will take place at locations off site which are yet to be confirmed. This information will be updated as soon as it is available.</p>
                    <h3>The best way to get there</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus. Nunc non suscipit est, at vulputate neque. Pellentesque non sollicitudin dolor. Fusce maximus, purus faucibus ultricies scelerisque, neque justo tempor elit, id gravida elit nibh a ipsum.</p>
                    <h4>By train</h4>
                    <p class="location-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>
                    <h4>By taxi</h4>
                    <p class="location-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>
                    <h4>By car</h4>
                    <p class="location-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="location-right location-map">
                    <div id="googleMap" class="address-map"></div>
                    <h2>Centara Grand & Bangkok Convention Centre at CentralWorld</h2>
                    <h5>Level 22, 999/99 Rama 1 Road, Pathumwan, Bangkok 10330, Thailand</h5>
                    <a href="https://www.google.com/maps/place/Central+World+Plaza/@13.7459559,100.539369,17z/data=!4m2!3m1!1s0x0000000000000000:0xc7617c219266e57d" target="_blank"><i class="fa fa-map-marker"></i><h4>View on the map</h4></a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="location-content location-content-2">
    <h1>general information</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="location-left">
                    <h3>Registration</h3>
                    <p>You will need to collect your registration pass to be admitted to all Affiliate World Asia events. The registration desk will be open from Sunday, 6 December (time TBC) at the 6th floor of the Centara Grand.</p>
                    <h3>attending events</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>
                    <h4>official afterpary</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>                                       
                </div>
            </div>
            <div class="col-md-6">
                <div class="location-right">
                    <h3>press</h3>
                    <p>For all press related inquiries, please contact us at <a href="mailto:info@affiliateworldconferences.com">Affiliate World Conferences.</a></p>
                    <h3>sponsorship opportunities</h3>
                    <p>Sponsorship opportunities are available on a first come, first served basis. Visit our <a href="http://stackthatmoney.com/sponsors/#/awa" target="_blank">sponsorship portal</a> for more information.</p> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="location-content location-content-3">
    <h1>accommodation and visitor information</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="location-left">
                    <h3>Accommodation</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                    <h3>Airports</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>
                    <h4>International Attendees</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>                                       
                </div>
            </div>
            <div class="col-md-6">
                <div class="location-right">
                    <h3>Public Transport</h3>
                    <p>For all press related inquiries, please contact us at <a href="mailto:info@affiliateworldconferences.com">Affiliate World Conferences.</a></p>
                    <h3>Bangkok Visitor Information</h3>
                    <p>Sponsorship opportunities are available on a first come, first served basis. Visit our <a href="http://stackthatmoney.com/sponsors/#/awa" target="_blank">sponsorship portal</a> for more information.</p> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="location-content location-content-4">
    <h1>in case of emergencies</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="location-left">
                    <h3>Medical and Other Emergencies</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                    <h3>Fire</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>                      
                </div>
            </div>
            <div class="col-md-6">
                <div class="location-right">
                    <h3>Earthquakes</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>
                    <h3>Non-emergency Medical Assistance</h3>
                    <p>For all press related inquiries, please contact us at <a href="mailto:info@affiliateworldconferences.com">Affiliate World Conferences.</a></p>
                    <h3>Bangkok Visitor Information</h3>
                    <p>Sponsorship opportunities are available on a first come, first served basis. Visit our <a href="http://stackthatmoney.com/sponsors/#/awa" target="_blank">sponsorship portal</a> for more information.</p> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="location-content location-content-5">
    <h1>attendance terms and conditions</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="location-left">
                    <h3>Medical and Other Emergencies</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                    <h3>Fire</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>                      
                </div>
            </div>
            <div class="col-md-6">
                <div class="location-right">
                    <h3>Earthquakes</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam convallis felis semper sapien gravida, vehicula euismod lorem finibus.</p>
                    <h3>Non-emergency Medical Assistance</h3>
                    <p>For all press related inquiries, please contact us at <a href="mailto:info@affiliateworldconferences.com">Affiliate World Conferences.</a></p>
                    <h3>Bangkok Visitor Information</h3>
                    <p>Sponsorship opportunities are available on a first come, first served basis. Visit our <a href="http://stackthatmoney.com/sponsors/#/awa" target="_blank">sponsorship portal</a> for more information.</p> 
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ticket">
    <div class="container">
        <div class="row">
            <div class="col-md-6 center-block">
                <div class="ticket-details">
                    <h1>buy tickets</h1>
                    <p>Early bird tickets available for a limited time or until they sell out.</p>
                    <a href="#/tickets" class="primary light"><i class="fa fa-ticket"></i>Buy Tickets</a>
                </div>
            </div>
        </div>
    </div>
</section>