<section class="ticket-content">
    <nav-menu active-menu="market"></nav-menu>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 center-block ticket-mobile">
                <div class="title">
                    <h1>choose <span>your</span> tickets</h1>
                    <p>Buying your pass only takes minutes. Select if you are an affiliate or a company (affiliate managers, affiliate networks, traffic sources, agencies or advertisers).</p>
                </div>
                <div class="row toggle-browser">
                    <div class="col-lg-8 col-md-9 col-sm-10 center-block">
                        <div class="ticket-toggle">
                            <a href="#/tickets"><h4 class="toggle-left">i am an affiliate</h4></a>
                            <h4 class="ticket-active toggle-right">i am a company</h4>
                            <a href="#/tickets"><span class="ticket-toggle-right"></span></a>
                        </div>
                    </div>
                </div>
                <div class="row toggle-mobile">
                    <ul>
                        <li><a href="#/tickets"><h2>I am an affiliate</h2></a></li>
                        <li><h2 class="active">I am a company</h2></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-11 center-block">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="company-ticket ticket-price">
                            <h2>Company pass - <span>$899</span></h2>
                            <p>Company pass giving access to:</p>
                            <ul>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>All Speeches</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>All Panels</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>Market</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>AMC.live (training workshop)</p>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                    <p>Permission to attend conference as an affiliate manager or representing an affiliate network, traffic source, agency or advertiser</p>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                    <p>Contact details of affiliate marketers (with their permission)</p>
                                </li>                                
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="ticket-button-wrapper">
                            <a href="https://awa-companies.eventbrite.com/" class="primary light ticket-button"><i class="fa fa-ticket"></i>Buy company pass</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="company-ticket ticket-price">
                            <h2>Market table - <span>$6999</span></h2>
                            <h5>Zone 1: $6999 | Zone 2: $4999 | Zone 3: $2999</h5>
                            <p>Table to represent your company at Market on Day One priced by positioning and foot traffic. <span>Table also includes 2 company passes</span> giving access to:</p>
                            <ul>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>All Speeches</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>All Panels</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>Traffic Source Meetups</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>AMC.live (training workshop)</p>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                    <p>Permission to attend conference as an affiliate manager or representing and affiliate network, traffic source, agency or advertiser</p>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                    <p>Contact details of affiliate attendees (with their permission)</p>
                                </li>
                              </ul>
                              <p style="font-style:italic;color:#999">Note: you may buy additional company passes for staff at $899 each if required.</p>
                            <div class="clear"></div>
                        </div>
                         <a href="#" class="primary light ticket-button market-map" ><i class="fa fa-leanpub"></i>view the full market map</a>
                        <div class="ticket-button-wrapper">
                            <a href="https://awa-companies.eventbrite.com/" class="primary light ticket-button market-buy-button"><i class="fa fa-ticket"></i>Buy market Table</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
