<section class="ticket-content">
    <nav-menu active-menu="market"></nav-menu>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 center-block">
                <div class="title">
                    <h1>choose <span>your</span> tickets</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel sodales velit. Nullam sodales mi euismod enim congue gravida. </p>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-9 col-sm-10 center-block">
                        <div class="ticket-toggle">
                            <a href="#/tickets"><h4 class="toggle-left">i am an affiliate</h4></a>
                            <h4 class="ticket-active toggle-right">i am a company</h4>
                            <a href="#/tickets"><span class="ticket-toggle-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-7 col-xs-10 center-block">
                <a href="#" class="primary light ticket-button" style="margin:70px 0 30px 0"><i class="fa fa-leanpub"></i>view the full market map</a>
            </div>
            <div class="col-md-8 col-sm-10 col-xs-8 center-block">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="ticket-price">
                            <h2>Company pass - <span>$6999</span></h2>
                            <p>Conference pass giving access to:</p>
                            <ul>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>10x gold ticket</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>Access to somthing</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>Awesome benefit</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>AMC.live (training workshop)</p>
                                </li>
                                <li>
                                    <i class="fa fa-check icon-inactive"></i>
                                    <p class="price-inactive">Exclusive access to speeches online post-conference</p>
                                </li>
                                <li>
                                    <i class="fa fa-check icon-inactive"></i>
                                    <p class="price-inactive">Exclusive access to all speech slides</p>
                                </li>
                            </ul>
                        </div>
                        <div class="ticket-button-wrapper">
                            <a href="#" class="primary light ticket-button"><i class="fa fa-ticket"></i>Buy company pass</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="ticket-price">
                            <h2>Market table - <span>$5499</span></h2>
                            <p>Conference pass giving access to:</p>
                            <ul>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>10x gold ticket</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>Access to somthing</p>
                                </li>
                                <li>
                                    <i class="fa fa-check icon-inactive"></i>
                                    <p class="price-inactive">Awesome benefit</p>
                                </li>
                                <li>
                                    <i class="fa fa-check icon-inactive"></i>
                                    <p class="price-inactive">AMC.live (training workshop)</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>Exclusive access to speeches online post-conference</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>Exclusive access to all speech slides</p>
                                </li>
                            </ul>
                        </div>
                        <div class="ticket-button-wrapper">
                            <a href="#" class="primary light ticket-button"><i class="fa fa-ticket"></i>Buy market Table</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
