
<section class="schedule-header">
    <nav-menu active-menu="schedule"></nav-menu>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 center-block">
                <div class="title">
                    <h1>{{'TITLE_SPEAKERS' | translate}} <span>&</span> {{'TITLE_SCHEDULES' | translate}}</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel sodales velit. Nullam
                        sodales mi euismod enim congue gravida.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="schedule-date">
        <ul>
                        <li ng-repeat="schedule in schedules">
                            <a ng-click="SelectSchedule(schedule.scheduleID)" ng-class="{'schedule-active':schedule.isSelected}">
                                <h3>{{schedule.scheduleDateStr}}</h3>
                </a>
            </li>
        </ul>
    </div>
    <section class="schedule-time">
        <div class="schedule-time-list">
            <ul>
                <li>10am</li>
                <li>11am</li>
                <li>noon</li>
                <li>1pm</li>
                <li>2pm</li>
                <li>3pm</li>
                <li>4pm</li>
                <li>5pm</li>
                <li>6pm</li>
                <li>7pm</li>
                <li>8pm</li>
                <li>9pm</li>
            </ul>
        </div>
        <div class="schedule-time-container">
            <div ng-if="schedule.isSelected" ng-repeat="schedule in schedules" class="schedule-timeline">
                <ul>
                    <li ng-repeat="item in schedule.itinerary">
                        <div class="timeline-duration">
                            <div ng-repeat="entry in item.timeEntries"
                                 ng-init="ShowPopUp = false"
                                 ng-mouseenter="ShowPopUp = true"
                                 ng-mouseleave="ShowPopUp = false"
                                 style="background-color: {{item.colorScheme}}; left: {{entry.timeStart | timeLineStart:schedule.timeLineStart}}px; width:{{entry.duration | timeLineLength}}px;"
                                 class="timeline-link">
                                <div class="timeline-hover" ng-click="ScrollToTimeEntry(schedule.scheduleID, item.id, entry.id);" ng-show="ShowPopUp">
                                    <div class="timeline-hover-content">
                                        <span class="timeline-image" style="background-image: url('{{entry.imageUrl}}')"></span>
                                        <div class="timeline-detail">
                                            <h3>{{entry.title}}</h3>
                                            <i class="fa fa-clock-o"></i>
                                            <h5>{{entry.timeStr}}</h5>
                                            <p>{{entry.shortDescription}}</p>
                                        </div>
                                    </div>
                                    <span class="arrow-down"></span>
                                </div>
                            </div>
                        </div>
                        <h5 ng-class="{'timeline-disabled':!item.enabled}" style="color:{{item.colorScheme}}">{{item.title}}</h5>
                    </li>
                </ul>
            </div>
            <div class="schedule-grid">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </section>
</section>

<section class="schedule-content">
    <div class="schedule-day-list-wrapper" style="width:{{schedules.length * 1500}}px;">
        <div ng-click="SelectSchedule(schedule.scheduleID)"
             ng-class="{'clickable-area':!schedule.isSelected}" class="schedule-day"
             ng-repeat="schedule in schedules">
            <div class="container-fluid">
                <div class="row no-gutters">
                    <div class="col-lg-12">
                        <div class="schedule-details">
                            <h1>{{schedule.scheduleDateStr}}</h1>
                            <ul>
                                <li id="time-entry-{{schedule.scheduleID}}-{{entry.itinerarId}}-{{entry.id}}"
                                    ng-repeat="entry in schedule.timeLineEntries"
                                    style="background-color: {{entry.showDetails ? entry.colorScheme:'#fff'}}"
                                    ng-class="{'sched-active':entry.showDetails}">

                                    <div class="row list-width"  style="border-bottom-color: {{entry.showDetails ? entry.colorScheme:'#fff'}}">
                                        <div class="col-sm-3">
                                            <i class="fa fa-clock-o sched-icon"></i>
                                            <p>{{entry.timeStr}}</p>
                                        </div>
                                        <div class="col-sm-3">

                                            <h4><i ng-if="entry.isKeynote" class="fa fa-star keynote"></i>{{entry.title}}</h4>
                                        </div>
                                        <div class="col-sm-6">
                                            <i class="fa sched-icon"
                                               ng-class="{'fa-comments-o':entry.itinerary == 'speeches & panels',
                                               'fa-briefcase':entry.itinerary == 'market',
                                               'fa-glass':entry.itinerary == 'traffic source meetups'}"
                                               style="color:{{entry.showDetails ? '#fff':entry.colorScheme}};"></i>
                                            <p>{{entry.shortDescription}}</p>
                                            <a href="javascript:void(0);">
                                                <i ng-click="entry.showDetails = !entry.showDetails" class="fa fa-angle-down sched-arrow"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div ng-if="entry.showDetails" class="sched-slider">
                                        <div class="row list-width-2">
                                            <div class="col-lg-2">
                                                <span class="test-image" style="background-image: url('{{entry.imageUrl}}')"></span>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="speaker-details">
                                                    <h2>{{entry.title}}</h2>
                                                    <h5 style="color:{{entry.colorScheme}};">{{entry.secondTitle}}</h5>
                                                    <a href="{{entry.websiteUrl}}" target="_blank"><i class="fa fa-link"></i></a>
                                                    <a href="{{entry.facebookUrl}}" target="_blank"><i class="fa fa-facebook-official"></i></a>
                                                    <a href="{{entry.twitterUrl}}" target="_blank"><i class="fa fa-twitter"></i></a>
                                                    <!--<a href="#"><i class="fa fa-instagram"></i></a>-->
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="speaker-details details-2">
                                                    <p>{{entry.longDescription}}</p>
                                                    <!--<a href="#"><i class="fa fa-cloud-download"></i>add event to calendar</a>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="schedule-content-mobile">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
</section>

<section class="speaker-profiles" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 center-block">
                <div class="speaker-header">
                    <h1>speaker profiles</h1>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis</p>
                </div>
            </div>
            <div class="col-lg-12">
                <ul>
                    <!-- featured speaker list -->
                    <li ng-repeat="item in MockMajorSponsors">
                        <div class="row">
                            <div class="col-md-2 col-sm-3">
                                <span class="test-image"></span>
                            </div>
                            <div class="col-md-4 col-sm-9">
                                <div class="speaker-details">
                                    <h2>{{item.Name}}</h2>
                                    <h5>{{item.Position}}</h5>
                                    <div class="speaker-social-media">
                                        <a href="#"><i class="fa fa-link"></i></a>
                                        <a href="#"><i class="fa fa-facebook-official"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="speaker-details">
                                    <p>{{item.Description}}</p>
                                    <p>{{item.OtherInfo}} <a href="{{item.OtherInfoUrl}}">Read more</a></p>
                                </div>
                            </div>
                        </div>
                    </li>


                    <!-- not featured speaker list -->
                    <li ng-repeat="item in MockSponsors" class="not-featured-speaker">
                        <div class="row">
                            <div class="col-sm-2">
                                <span class="test-image-2"></span>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="speaker-details">
                                    <h3>{{item.Name}}</h3>
                                    <h5>{{item.Position}}</h5>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="speaker-details">
                                    <p>{{item.Description}} </p>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>


    </div>
    </div>
</section>

<section class="ticket">
    <div class="container">
        <div class="row">
            <div class="col-md-6 center-block">
                <div class="ticket-details">
                    <h1>buy tickets</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel sodales velit. Nullam sodales mi euismod enim congue gravida.</p>
                    <a href="#/tickets" class="primary light"><i class="fa fa-ticket"></i>Buy Tickets</a>
                </div>
            </div>
        </div>
    </div>
</section>