
<section class="schedule-header">
    <nav-menu active-menu="schedule"></nav-menu>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 center-block">
                <div class="title">
                    <h1>{{'TITLE_SPEAKERS' | translate}} <span>&</span> {{'TITLE_SCHEDULES' | translate}}</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel sodales velit. Nullam
                        sodales mi euismod enim congue gravida.</p>
                    <!--<a href="" ng-click="openDefault()">Default theme</a>-->
                </div>
            </div>
            <div class="col-lg-12">
                <div class="schedule-date">
                    <ul>
                        <li ng-repeat="tab in tabs">
                            <a ng-click="SelectTab(tab.scheduleID)" ng-class="{'schedule-active':tab.isSelected}">
                                <h3>{{tab.scheduleDateStr}}</h3>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="schedule-time">
        <div class="schedule-time-list">
            <ul>
                <li>10am</li>
                <li>11am</li>
                <li>noon</li>
                <li>1pm</li>
                <li>2pm</li>
                <li>3pm</li>
                <li>4pm</li>
                <li>5pm</li>
                <li>6pm</li>
                <li>7pm</li>
                <li>8pm</li>
                <li>9pm</li>
            </ul>
        </div>
        <div class="schedule-time-container">
            <div ng-if="tab.isSelected" ng-repeat="tab in tabs" class="schedule-timeline">
                <ul>
                    <li ng-repeat="item in tab.itinerary">
                        <div class="timeline-duration">
                            <div ng-repeat="entry in item.timeEntries"
                                 style="background-color: {{item.colorScheme}}; left: {{entry.timeStart | timeLineStart:tab.timeLineStart}}px; width:{{entry.duration | timeLineLength}}px;"
                                 class="timeline-link">
                                <div class="timeline-hover">
                                    <a href="#">
                                        <div class="timeline-hover-content">
                                            <span class="timeline-image"></span>

                                            <div class="timeline-detail">
                                                <h3>{{entry.title}}</h3>
                                                <i class="fa fa-clock-o"></i>
                                                <h5>{{entry.timeStr}}</h5>

                                                <p>{{entry.shortDescription}}</p>
                                            </div>
                                        </div>
                                        <span class="arrow-down"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <h5 ng-class="{'timeline-disabled':!item.enabled}" style="color:{{item.colorScheme}}">{{item.title}}</h5>
                    </li>
                </ul>
            </div>
            <div class="schedule-grid">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </section>
</section>

<section class="schedule-content">
    <div class="schedule-day-list-wrapper" style="width:{{tab.length * 1500}}px;">
        <div class="schedule-day" ng-repeat="tab in tabs">
            <div class="container-fluid">
                <div class="row no-gutters">
                    <div class="col-lg-12">
                        <div class="schedule-details">
                            <h1>{{tab.scheduleDateStr}}</h1>
                            <ul>
                                <li ng-repeat="entry in tab.timeLineEntries"
                                    ng-class="{'sched-active':entry.showDetails}">
                                    <div class="row list-width">
                                        <div class="col-sm-3">
                                            <i class="fa fa-clock-o"></i>
                                            <p>{{entry.timeStr}}</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <h4>{{entry.title}}</h4>
                                        </div>
                                        <div class="col-sm-6">
                                            <i class="fa  sched-icon"
                                               ng-class="{'fa-comments-o':entry.cssClass == 'speech',
                                               'fa-briefcase':entry.cssClass == 'market',
                                               'fa-glass':entry.cssClass == 'traffic'}"
                                               style="color:{{entry.colorScheme}};"></i>
                                            <p>{{entry.shortDescription}}</p>
                                            <a href="javascript:void(0);">
                                                <i ng-click="entry.showDetails = !entry.showDetails" class="fa fa-angle-down sched-arrow"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div ng-if="entry.showDetails" class="sched-slider">
                                        <div class="row list-width-2">
                                            <div class="col-lg-2">
                                                <span class="test-image"></span>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="speaker-details">
                                                    <h2>{{entry.title}}</h2>
                                                    <h5>{{entry.secondTitle}}</h5>
                                                    <a href="#"><i class="fa fa-link"></i></a>
                                                    <a href="#"><i class="fa fa-facebook-official"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="speaker-details details-2">
                                                    <p>{{entry.longDescription}}</p>
                                                    <a href="#"><i
                                                            class="fa fa-cloud-download"></i>add event to calendar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="speaker-profiles" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 center-block">
                <div class="speaker-header">
                    <h1>speaker profiles</h1>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis</p>
                </div>
            </div>
            <div class="col-lg-12">
                <ul>
                    <!-- featured speaker list -->
                    <li ng-repeat="item in MockMajorSponsors">
                        <div class="row">
                            <div class="col-lg-2">
                                <span class="test-image"></span>
                            </div>
                            <div class="col-lg-4">
                                <div class="speaker-details">
                                    <h2>{{item.Name}}</h2>
                                    <h5>{{item.Position}}</h5>
                                    <a href="#"><i class="fa fa-link"></i></a>
                                    <a href="#"><i class="fa fa-facebook-official"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="speaker-details">
                                    <p>{{item.Description}}</p>
                                    <p>{{item.OtherInfo}} <a href="{{item.OtherInfoUrl}}">Read more</a></p>
                                </div>
                            </div>
                        </div>
                    </li>


                    <!-- not featured speaker list -->
                    <li ng-repeat="item in MockSponsors">
                        <div class="row">
                            <div class="col-lg-2">
                                <span class="test-image-2"></span>
                            </div>
                            <div class="col-lg-4">
                                <div class="speaker-details">
                                    <h3>{{item.Name}}</h3>
                                    <h5>{{item.Position}}</h5>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="speaker-details">
                                    <p>{{item.Description}} </p>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>


    </div>
    </div>
</section>

<section class="ticket">
    <div class="container">
        <div class="row">
            <div class="col-md-6 center-block">
                <div class="ticket-details">
                    <h1>buy tickets</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel sodales velit. Nullam sodales mi euismod enim congue gravida.</p>
                    <a href="#/tickets" class="primary light"><i class="fa fa-ticket"></i>Buy Tickets</a>
                </div>
            </div>
        </div>
    </div>
</section>