
<section class="schedule-header">
    <nav-menu active-menu="schedule"></nav-menu>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 center-block">
                <div class="title">
                    <h1>{{'TITLE_SPEAKERS' | translate}} <span>&</span> {{'TITLE_SCHEDULES' | translate}}</h1>
                    <p>Our speaking line up is made of the most knowledgeable and revered figures of the industry who will be sharing their insights and discussing the secrets of where the next big campaigns will be.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="schedule-date">
        <ul>
            <li ng-repeat="schedule in schedules">
                <a ng-click="SelectSchedule(schedule.scheduleID)" ng-class="{'schedule-active':schedule.isSelected}">
                <h3>{{schedule.scheduleDateStr}}</h3>
                </a>
            </li>
        </ul>
    </div>
    <section class="schedule-time">
        <div class="schedule-time-list">
            <ul>
                <li>10am</li>
                <li>11am</li>
                <li>noon</li>
                <li>1pm</li>
                <li>2pm</li>
                <li>3pm</li>
                <li>4pm</li>
                <li>5pm</li>
                <li>6pm</li>
                <li>7pm</li>
                <li>8pm</li>
                <li>9pm</li>
                <li>10pm</li>
                <li>11pm</li>
            </ul>
        </div>
        <div class="schedule-time-container">
            <div ng-if="schedule.isSelected" ng-repeat="schedule in schedules" class="schedule-timeline">
                <span ng-if="schedule.scheduleID > 1"
                      ng-click="SelectSchedule(schedule.scheduleID - 1)"
                      class="timeline-left timeline-arrow"><i class="fa fa-angle-left"></i></span>
                <span  ng-if="schedule.scheduleID < schedules.length"
                       ng-click="SelectSchedule(schedule.scheduleID + 1)"
                       class="timeline-right timeline-arrow"><i class="fa fa-angle-right"></i></span>
                <ul>
                    <li ng-repeat="item in schedule.itinerary">
                        <div class="timeline-duration">
                            <div ng-repeat="entry in item.timeEntries"
                                 style="background-color: {{item.colorScheme}}; left: {{entry.timeStart | timeLineStart:schedule.timeLineStart}}px; width:{{entry.duration | timeLineLength}}px;"
                                 class="timeline-link">
                                <div class="timeline-hover"
                                     style="left:{{entry.timeStart | timeCenterPopUp:(entry.duration | timeLineLength)}}px;"
                                     ng-click="ScrollToTimeEntry(schedule.scheduleID, item.id, entry.id, entry);">
                                    <div class="timeline-hover-content">
                                        <span class="timeline-image" style="background-image: url('{{entry.imageUrl}}')"></span>
                                        <div class="timeline-detail">
                                            <h3>{{entry.title}}</h3>
                                            <i class="fa fa-clock-o"></i>
                                            <h5>{{entry.timeStr}}</h5>
                                            <p>{{entry.shortDescription}}</p>
                                        </div>
                                    </div>
                                    <span class="arrow-down" style="left:200px;"></span>
                                </div>
                            </div>
                        </div>
                        <h5 ng-class="{'timeline-disabled':!item.enabled}" style="color:{{item.colorScheme}}">{{item.title}}</h5>
                    </li>
                </ul>
            </div>
            <div class="schedule-grid">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </section>
</section>

<section class="schedule-content">
    <div class="schedule-day-list-wrapper" style="width:{{schedules.length * 1500}}px;">
        <div ng-click="SelectSchedule(schedule.scheduleID)"
             ng-class="{'clickable-area':!schedule.isSelected}" class="schedule-day"
             ng-repeat="schedule in schedules">
            <div class="container-fluid">
                <div class="row no-gutters">
                    <div class="col-lg-12">
                        <div class="schedule-details">
                            <h1>{{schedule.scheduleDateStr}}</h1>
                            <ul>
                                <li id="time-entry-{{schedule.scheduleID}}-{{entry.itineraryId}}-{{entry.id}}"
                                    ng-repeat="entry in schedule.timeLineEntries"
                                    ng-class="{'sched-active':entry.showDetails}"
                                    ng-click="entry.showDetails = !entry.showDetails"
                                    style="background-color: {{entry.showDetails ? entry.colorScheme + '!important;':''}}">

                                    <div class="row list-width"
                                         style="border-bottom-color: {{entry.showDetails ? entry.colorScheme:'#f4f4f4'}}">
                                        <div class="col-sm-3">
                                            <i class="fa fa-clock-o sched-icon"></i>
                                            <p>{{entry.timeStr}}</p>
                                        </div>
                                        <div class="col-sm-3">

                                            <h4><i ng-if="entry.isKeynote" class="fa fa-star keynote"></i>{{entry.title}}</h4>
                                        </div>
                                        <div class="col-sm-6">
                                            <i class="fa sched-icon"
                                               ng-class="{'fa-comments-o':entry.itinerary == 'speeches & panels',
                                               'fa-briefcase':entry.itinerary == 'market',
                                               'fa-glass':entry.itinerary == 'traffic source meetups'}"
                                               style="color:{{entry.showDetails ? '#fff':entry.colorScheme}};"></i>
                                            <p>{{entry.shortDescription}}</p>
                                            <i class="fa fa-angle-down sched-arrow"></i>
                                        </div>
                                    </div>
                                    <div ng-if="entry.showDetails" class="sched-slider">
                                        <div class="row list-width-2">
                                            <div class="col-md-2">
                                                <span class="test-image" style="background-image: url('{{entry.imageUrl}}')"></span>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="speaker-details">
                                                    <h2>{{entry.title}}</h2>
                                                    <h5 style="color:{{entry.colorScheme}};">{{entry.secondTitle}}</h5>
                                                    <a href="{{entry.websiteUrl}}" target="_blank"><i class="fa fa-link"></i></a>
                                                    <a href="{{entry.facebookUrl}}" target="_blank"><i class="fa fa-facebook-official"></i></a>
                                                    <a href="{{entry.twitterUrl}}" target="_blank"><i class="fa fa-twitter"></i></a>
                                                    <!--<a href="#"><i class="fa fa-instagram"></i></a>-->
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="speaker-details details-2">
                                                    <p>{{entry.longDescription}}</p>
                                                    <!--<a href="#"><i class="fa fa-cloud-download"></i>add event to calendar</a>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="schedule-content-mobile">
    <div class="container">
        <div class="row">
            <div class="schedule-details-mobile">
                <div class="schedule-mobile-title">
                    <h4>speech</h4>
                    <a href="#"><i class="fa fa-calendar"></i></a>
                </div>
                <div class="schedule-mobile-info">
                    <h1>stm.</h1>
                    <h4>opening address</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id metus vel arcu dignissim facilisis eu et purus. Aenean vitae facilisis lorem. Ut non metus augue. Pellentesque suscipit dictum pharetra. </p>
                    <div class="time">
                        <i class="fa fa-clock-o"></i>
                        <h4>9AM - 10am</h4>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>

<section class="speaker-profiles" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 center-block">
                <div class="speaker-header">
                    <h1>speaker profiles</h1>
                    <p>Our speaking line up is made of the most knowledgeable and revered figures of the industry who will be sharing their insights and discussing the secrets of where the next big campaigns will be.</p>
                </div>
            </div>
            <div class="col-lg-12">
                <ul>
                    <!-- featured speaker list -->
                    <li ng-repeat="item in MockMajorSponsors">
                        <div class="row">
                            <div class="col-md-2 col-sm-12">
                                <span class="test-image" style="background: url('{{item.AvatarUrl}}') center center no-repeat;background-size:contain">
                                </span>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="speaker-details">
                                    <h2>{{item.Name}}</h2>
                                    <h5>{{item.Position}}</h5>
                                    <div class="speaker-social-media">
                                        <a href="#"><i class="fa fa-link"></i></a>
                                        <a href="#"><i class="fa fa-facebook-official"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="speaker-details">
                                    <p>{{item.Description}}</p>
                                    <p>{{item.OtherInfo}}</p>
                                </div>
                            </div>
                        </div>
                    </li>


                    <!-- not featured speaker list -->
                    <li ng-repeat="item in MockSponsors" class="not-featured-speaker">
                        <div class="speaker-social-media-nav">
                            <i class="fa fa-close social-media-close"></i>
                            <div class="social-media-nav-holder">
                                <a href="#"><i class="fa fa-link"></i></a>
                                <a href="#"><i class="fa fa-facebook-official"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                        <i class="fa fa-info-circle social-media-nav"></i>
                        <div class="row">
                            <div class="col-md-2 col-xs-3">
                                <span class="test-image-2" style="background: url('{{item.AvatarUrl}}') center center no-repeat;background-size:contain"></span>
                            </div>
                            <div class="col-md-4 col-xs-9 ">
                                <div class="speaker-details">
                                    <h3 style="margin: 0;">{{item.Name}}</h3>
                                    <h5 style="text-align:left; ">{{item.Position}}</h5>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="speaker-details">
                                    <p>{{item.Description}}</p>
                                    <p>{{item.OtherInfo}}</p>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>


    </div>
    </div>
</section>

<section class="ticket">
    <div class="container">
        <div class="row">
            <div class="col-md-6 center-block">
                <div class="ticket-details">
                    <h1>buy tickets</h1>
                    <p>Early bird prices available for a limited time.</p>
                    <a href="#/tickets" class="primary light"><i class="fa fa-ticket"></i>Buy Tickets</a>
                </div>
            </div>
        </div>
    </div>
</section>