
<section class="ticket-content">
    <nav-menu active-menu="ticket"></nav-menu>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 center-block ticket-mobile">
                <div class="title">
                    <h1>choose <span>your</span> tickets</h1>
                    <p>Buying your pass only takes minutes. Select if you are an affiliate or a company (affiliate managers, affiliate networks, traffic sources, agencies or advertisers).</p>
                </div>
                <div class="row toggle-browser">
                    <div class="col-lg-8 col-md-9 col-sm-10 center-block">
                        <div class="ticket-toggle">
                            <h4 class="ticket-active toggle-left">i am an affiliate</h4>
                            <a href="#/markets"><h4 class="toggle-right">i am a company</h4></a>
                            <!-- <a href="#/markets"><span class="ticket-toggle-left"></span></a> -->
                            <a href="#/markets">
                                <div class="ticket-toggle-button">
                                    <span class="ticket-toggle-left"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row toggle-mobile">
                    <ul>
                        <li><h2 class="active">I am an affiliate</h2></li>
                        <li><a href="#/markets"><h2>I am a company</h2></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div id="buy" class="ticket-timer">
                    <h2><span>50% OFF</span> super early bird sale now. Tickets prices will increase in:</h2>

                    <!-- 11:59pm EST Tuesday 4 August 2015. -->
                    <timer end-time="1438750740000">
                    <ul>
                        <li>
                            <span>{{days}}</span><h5>days</h5>
                        </li>
                        <li>
                            <span>{{hours}} </span><h5>hours</h5>
                        </li>
                        <li>
                            <span>{{minutes}}</span><h5>minutes</h5>
                        </li>
                        <li>
                            <span>{{seconds}}</span><h5>seconds</h5>
                        </li>
                    </ul>
                    </timer>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-11 center-block">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="ticket-price">
                            <span class="ribbon"></span>
                            <h2>Silver Pass - <span>$349</span></h2>
                            <h5>normally $699 - limited early bird tickets</h5>
                            <p>Affiliate pass giving access to:</p>
                            <ul>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>All Speeches</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>All Panels</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>Market</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>Traffic Source Meetups</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>AMC.live (training workshop)</p>
                                </li>
                                <li>
                                    <i class="fa fa-check icon-inactive"></i>
                                    <p class="price-inactive">Exclusive access to speeches online post-conference</p>
                                </li>
                                <li>
                                    <i class="fa fa-check icon-inactive"></i>
                                    <p class="price-inactive">Exclusive access to all speech slides</p>
                                </li>
                                <li>
                                    <i class="fa fa-check icon-inactive"></i>
                                    <p class="price-inactive">Prioritised seating at all sessions</p>
                                </li>
                            </ul>
                         <div class="clear"></div>
                          <p class="ticket-footer">Note: these passes are for purchase by affiliates only. Affiliate managers, affiliate networks, traffic sources, agencies or advertisers must purchase Company passes</p>
                        </div>
                        <div class="ticket-button-wrapper">
                            <a href="https://awa-affiliates.eventbrite.com/" class="primary light ticket-button"><i class="fa fa-ticket"></i>Buy Silver Ticket</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="ticket-price">
                            <span class="ribbon"></span>
                            <h2>Gold Pass - <span>$449</span></h2>
                            <h5>normally $899 - limited early bird tickets</h5>
                            <p>Affiliate pass giving access to:</p>
                            <ul>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>All Speeches</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>All Panels</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>Market</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>Traffic Source Meetups</p>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <p>AMC.live (training workshop)</p>
                                </li>
                                <li>
                                    <i class="fa fa-cloud-download"></i>
                                    <p>Exclusive access to speeches online post-conference</p>
                                </li>
                                <li>
                                    <i class="fa fa-cloud-download"></i>
                                    <p>Exclusive access to all speech slides</p>
                                </li>
                                <li>
                                    <i class="fa fa-star"></i>
                                    <p>Prioritised seating at all sessions</p>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        <p class="ticket-footer">Note: these passes are for purchase by affiliates only. Affiliate managers, affiliate networks, traffic sources, agencies or advertisers must purchase Company passes</p>
                        </div>
                        <div class="ticket-button-wrapper">
                            <a href="https://awa-affiliates.eventbrite.com/" class="primary light ticket-button"><i class="fa fa-ticket"></i>Buy Gold Ticket</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>